# IDEs
.idea/
.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Compiled binary
/bin
/bin/*

# Scratch directory
/scratch/

# Node modules
/node_modules/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# TypeScript / JavaScript
/dist/
/build/
*.js.map
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

*.env

# Templ genered files
web/view/**/*templ.go
