package home

import "portfolio/internals/models"

templ AboutSection(data models.DataModel) {
	<section id="about" class="mb-16 md:mb-24">
		<h2 class="text-3xl md:text-4xl font-bold text-white mb-6 tracking-tight">
			About Me
		</h2>
		<p class="text-lg text-gray-400 leading-relaxed hover:text-gray-300 transition-colors duration-300">
			{ data.Summary }
		</p>
	</section>
}
