package nav

templ BaseNav() {
	<nav class="sticky top-0 z-10 backdrop-filter backdrop-blur-lg bg-opacity-30 border-b border-gray-200">
		<div class="max-w-5xl mx-auto px-4">
			<div class="flex items-center justify-between h-16">
				{ children... }
			</div>
		</div>
	</nav>
}
