package nav

templ BaseNav() {
	<nav class="fixed top-0 w-full z-50 bg-gray-950/90 light:bg-gray-50/90 backdrop-blur-sm border-b border-white/[0.05] light:border-black/[0.05]" hx-boost="true">
		<div class="max-w-5xl mx-auto px-6">
			<div class="flex items-center justify-between h-20">
				{ children... }
			</div>
		</div>
	</nav>
}