package nav

import "portfolio/web/view/components"

templ BlogNav() {
	<div class="relative">
		@BaseNav("/") {
			<div class="nav-items flex flex-wrap items-center justify-center">
				@components.ThemeToggle()
			</div>
		}
	</div>
}
